:host {
	display: block;
	margin: auto;
	padding: 2em 0;
	max-width: 1200px;
	border-top: 1px dotted var(--ui-black);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_link {
	color: gray;
	text-decoration: none;
	margin-right: 1em;
}

.footer__social-networks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	& > * {
		margin-left: 1em;
	}
}

@media (max-width: 1024px) {
	.footer {
		justify-content: space-around;
	}
	.footer__links {
		display: flex;
		flex-direction: column;
	}
	.footer_link {
		margin-bottom: 0.25em;
	}
	.footer__social-networks {
		flex-direction: column;
		& > * {
			margin-bottom: 0.25em;
		}
	}
}
