:host {
	display: block;
	max-width: var(--max-width);
	margin: 2em auto;
	background: var(--message-background);
}

.message {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	.message__title {
		letter-spacing: 1px;
		font-weight: 100;
		font-size: 20px;
	}
	.message__subtitle {
		font-size: 36px;
		line-height: 36px;
		font-weight: bold;
	}
}

.message__description {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.message__text {
	flex: 1;
	margin: 0 1em;
	font-size: 14px;
	line-height: 22px;
}

.message__close {
	border: none;
}

@media (max-width: 1024px) {
	.message {
		flex-direction: column;
	}

	.message__description {
		margin-bottom: 1em;
	}

	.message__close {
		display: none;
	}
}
