<section class="message">
	<div class="message__description">
		<span class="message__title">Speak out. Be heard.</span>
		<span class="message__subtitle">Be counted</span>
	</div>
	<p class="message__text">Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak
		out and speak
		freely. It's easy: You share your opinion, we analyze and put the data in a public report.</p>
	<button class="message__close">
		<img src="../../../assets/icons/close.svg" alt="">
	</button>
</section>