:host {
	display: block;
	max-width: 1200px;
	margin: 2em auto;
	background: #ebebeb;
}

.message {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	.message__title {
		letter-spacing: 1px;
		font-weight: 100;
	}
	.message__subtitle {
		font-size: 32px;
		line-height: 36px;
	}
}

.message__description {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.message__text {
	flex: 1;
	margin: 0 1em;
}

.message__close {
	border: none;
}
