<header class="header">
	<h1 class="header__title" routerLink="/">Rule of Thumb.</h1>
	<nav class="nav__section">
		<ul class="nav__list">
			<li class="nav__list-item" routerLink="/past-trials">Past Trials</li>
			<li class="nav__list-item" routerLink="/how-it-works">How It Works</li>
			<li class="nav__list-item" routerLink="/auth">Log In/Sign Up</li>
		</ul>
		<div><img src="../../../assets/icons/search.svg" alt=""></div>
	</nav>
	<nav class="nav__section--mobile">
		<svg id="z-hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="26" height="26" class="z-hamburger enabled" data-reactid="78"><rect x="0" y="3" width="26" height="2.4" data-reactid="79"></rect><rect x="0" y="11.8" width="26" height="2.4" data-reactid="80"></rect><rect x="0" y="20.6" width="26" height="2.4" data-reactid="81"></rect></svg>
	</nav>
</header>