:host {
    display: block;
    background: linear-gradient(180deg, #000000d6, #00000008);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    max-width: 1200px;
    color: white;
    margin: auto;
}
.nav__section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

.nav__list-item {
	margin-right: 2em;
}
