:host {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 2em auto 0;
	position: relative;
	top: 3em;
	height: 4em;
	&::after {
		content: "";
		background-image: url("../../../assets/images/comments.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		height: 4em;
		width: 100%;
		opacity: 0.2;
	}
}
.comments__text {
	font-size: 32px;
	line-height: 36px;
	margin-left: 1em;
}
.comments__button {
	border: 2px solid var(--ui-black);
	padding: 1em 2em;
	margin-right: 2em;
}

@media (max-width: 1024px) {
	:host {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 10em;
		margin: 0;
		top:0;
		&::after {
			content: "";
			height: 10em;
			width: 100%;
			opacity: 0.2;
		}
	}
	.comments__text {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 0.5em;
	}
	.comments__button {
		margin-right: 0;
		width: 90%;
	}
}