<section class="banner banner-image">
	<article class="banner-opinion">
		<div class="banner-opinion__container">
			<div class="banner-opinion__body">
				<span>What's your opinion on</span>
				<h2>Pope Francis?</h2>
				<p>He's talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a
					true pedophile punishing pontiff? (thumbs up)</p>
			</div>
				<div class="banner-opinion__actions">
					<button class="banner-opinion__action banner-opinion__action--like">
						<img class="rotate-180 banner-opinion__hand-icon" src="../../../assets/icons/hand.svg" alt="">
					</button>
					<button class="banner-opinion__action banner-opinion__action--dislike">
						<img class="banner-opinion__hand-icon" src="../../../assets/icons/hand.svg" alt="">
					</button>
				</div>
		</div>
	</article>
	<div class="closing-in">
		<div class="closing-in__label">Closing in</div>
		<div class="closing-in__date">22 days</div>
	</div>
</section>