:host {
	position: relative;
	display: block;
	width: 100%;
	height: 45em;
	z-index: -9999;
}
.banner {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	height: 100%;
}

.banner-image {
	background-image: url("../../../assets/images/Francisco.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-opinion {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
	max-width: var(--max-width);
	width: 100%;
}
.banner-opinion__container {
	max-width: 31em;
	justify-content: center;
	align-items: baseline;
	display: flex;
	flex-direction: column;
	background: var(--banner-opinion-background);
	color: var(--ui-white);
	justify-self: center;
	flex: 1;
}
.banner-opinion__body {
	padding: 2em 4em 2em 2em;
}

.banner-opinion__title {
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 0.5em;
	font-weight: 100;
}
.banner-opinion__text {
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 1.35em;
	font-weight: 100;
}
.banner-opinion__more-information {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 3em;
	font-size: 14px;
	letter-spacing: 1px;
}
.banner-opinion__wiki-image {
	width: 14px;
	margin-right: 0.5em;
}
.banner-opinion__link {
	color: var(--ui-white);
}
.banner-opinion__your-vote {
	font-weight: bold;
	font-size: 20px;
}
.banner-opinion__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.banner-opinion__action {
	padding: 1.3em 1em;
	flex: 1;
	border: none;
	opacity: 0.9;
	&.banner-opinion__action--like {
		background: var(--vote-positive);
	}
	&.banner-opinion__action--dislike {
		background: var(--vote-negative);
	}
}

.banner-opinion__hand-icon {
	height: 2.5rem;
	width: 2.5rem;
}
.closing-in {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex: 0;
}
.closing-in__label {
	flex: 1;
	text-align: right;
	padding: 1em 0.5em 1em;
	background: var(--closing-in-label);
	color: var(--ui-white);
	position: relative;
	text-transform: uppercase;
	&::after {
		content: "";
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 9px solid var(--closing-in-triangle);
		position: absolute;
		right: -9px;
	}
}
.closing-in__date {
	flex: 2;
	padding: 0rem 0.5rem 0rem 1rem;
	background: var(--closing-in-date-background);
	font-size: 36px;
	line-height: 36px;
	display: flex;
	align-items: center;
	font-weight: 100;
}
.closing-in__date-number {
	font-weight: normal;
}

@media (max-width: 1024px) {
	.banner-opinion__container {
		margin: 5em 1em 0 1em;
	}
	.banner-image {
		background-position-x: 85%;
	}
	.banner-opinion__title {
		font-size: 28px;
		line-height: 32px;
	}
	.banner-opinion__body {
		padding: 1em;
		text-align: center;
	}
	.banner-opinion__more-information {
		justify-content: center;
	}
}
