:host {
	display: flex;
	height: 79vh;
	justify-content: center;
	align-items: center;
}

.auth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 3em;
	background: aliceblue;
}

.auth__title {
	margin-bottom: 1em;
	font-size: 48px;
}