:host {
	display: flex;
	height: 79vh;
	justify-content: center;
	align-items: center;
}

.how-it-works {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 3em;
	background: #e0fff9 ;
}

.how-it-works__title {
	margin-bottom: 1em;
	font-size: 48px;
}