.content {
	bottom: 6.5em;
	position: relative;
}
.previous-ruling {
	max-width: var(--max-width);
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.votes-title {
	max-width: var(--max-width);
	margin: auto;
	color: var(--ui-gray);
	font-weight: 100;
	font-size: 40px;
	padding: 0.2em 0;
}
.previous-ruling__item {
	width: 48%;
}

@media (max-width: 1024px) {
	.previous-ruling {
		flex-direction: column;
	}
	.previous-ruling__item {
		width: 100%;
	}
}
