:host {
	display: flex;
	height: 79vh;
	justify-content: center;
	align-items: center;
}

.past-trials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 3em;
	background: #ffe0e0;
}

.past-trials__title {
	margin-bottom: 1em;
	font-size: 48px;
}
