@font-face {
  font-family: 'lato';
  src: url(../fonts/Lato-Regular.ttf) format("opentype");
}
@font-face {
  font-family: 'lato';
  src: url(../fonts/Lato-Light.ttf) format("opentype");
}
@font-face {
  font-family: 'lato';
  src: url(../fonts/Lato-Bold.ttf) format("opentype");
}