:root {
	--ui-white: #FFF;
	--ui-black: #000;
	--ui-gray: #808080;
	--vote-positive: #2cbbb5;
	--vote-negative: #f4aa2a;
	--past-trials: #ffe0e0;
	--how-it-works: #e0fff9;
	--auth: #f7ffd6;
	--message-background: #ebebeb;
	--banner-opinion-background: #000000ac;
	--closing-in-label: #0000005c;
	--closing-in-triangle: #0000005c;
	--closing-in-date-background: #ffffff8c;
	--max-width: 1024px;
}