.previous-ruling {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	display: flex;
	height: 35em;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 2em;
	color: var(--ui-white);
}
.previous-ruling__body {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background: linear-gradient(0deg, var(--ui-black), transparent);
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0));
	padding-top: 10em;
}
.previous-ruling__tendency--positive {
	background: var(--vote-positive);
	padding: 0.5em;
	margin-top: 0.5em;
}
.previous-ruling__tendency--negative {
	background: var(--vote-negative);
	padding: 0.5em;
	margin-top: 0.5em;
}
.previous-ruling__tendency-icon {
	height: 1rem;
	width: 1rem;
}
.previous-ruling__profile {
	display: flex;
	flex-direction: column;
	margin: 0 0em 2em 1em;
	width: 80%;
}
.previous-ruling__name {
	font-size: 42px;
	line-height: 48px;
	font-weight: 100;
}
.previous-ruling__actions {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2em;
}
.previous-ruling__date {
	margin-bottom: 2em;
	font-size: 12px;
	letter-spacing: 1px;
}
.previous-ruling__vote--positive {
	background: var(--vote-positive);
	margin-right: 1em;
	padding: 0.5em 0.7em;
	cursor: pointer;
}
.selected {
	border: 2px solid var(--ui-white);
}
.previous-ruling__vote--negative {
	background: var(--vote-negative);
	margin-right: 1em;
	padding: 0.5em 0.7em;
	cursor: pointer;
}
.previous-ruling__button {
	border: 1px solid var(--ui-white);
	background: transparent;
	color: var(--ui-white);
	padding: 1em 2em;
}
.previous-ruling__stadistics {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 3em;
}
.previous-ruling__description {
	margin-bottom: 2em;
	font-weight: 100;
	line-height: 22px;
}
.previous-ruling__stadistics--positive {
	padding: 1em 0;
	background: var(--vote-positive);
	color: var(--ui-white);
	opacity: 0.8;
	display: flex;
	align-items: center;
}
.previous-ruling__stadistics--negative {
	padding: 1em 0;
	background: var(--vote-negative);
	opacity: 0.8;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.previous-ruling__percentage {
	font-size: 32px;
	line-height: 36px;
}
.previous-ruling__hand-icon {
	height: 1.5rem;
	width: 1.5rem;
	margin: 0 0.3em;
}
